/*Margin*/
.margin-0{
    margin: 0;
}

.margin-5px{
    margin: 5px;
}

.margin-top-5px{
    margin-top: 5px;
}

.margin-top-10px{
    margin-top: 10px;
}

.margin-top-30px{
    margin-top: 30px;
}

.margin-top-80px{
    margin-top: 80px;
}

.margin-right-auto{
    margin-right: auto;
}

.margin-right-30px{
    margin-right: 30px;
}

.margin-bottom-50px{
    margin-bottom: 50px;
}

.margin-left-auto{
    margin-left: auto;
}

.margin-left-20px{
    margin-left: 20px;
}

.margin-10-0{
    margin: 10px 0px;
}

.margin-0-10{
    margin: 0 10px;
}

.margin-5-5-0-5{
    margin: 5px 5px 0 5px;
}

.margin-5-5-30-5{
    margin: 5px 5px 30px 5px;
}

.margin-0-20px{
    margin: 0 20px;
}

.margin-left-20px{
    margin-left: 20px;
}

/*Border*/

.border-0{
    border: 0;
}

.border-top-red{
    border-top: 5px solid #eb3161;
}

.border-bottom-red-3px{
    border-bottom: 3px solid #eb3161;
}

.border-bottom-red-5px{
    border-bottom: 5px solid #eb3161;
}

.border-bottom-red-1px{
    border-bottom: 1px solid #ff3366;
}

.border-right-blond-grey{
    border-right: 2px solid #f6f6f6;
}

.border-top-white{
    border-top: 2px solid white;
}

.border-bottom-middle-grey{
    border-bottom: 1px solid #838386;
}

.border-dark-grey{
    border: 1px solid #3b3940;
}

.border-white{
    border: 2px solid white;
}

.border-red{
    border: 1px solid #eb3161;
}

.border-blond-grey{
    border: 2px solid #f6f6f6;
}

.border-radius-10px{
    border-radius: 10px;
}

.border-radius-45px{
    border-radius: 45px;
}

.border-radius-90px{
    border-radius: 90px;
}

/*Padding*/
.padding-0{
    padding: 0;
}

.padding-5px{
    padding: 5px;
}

.padding-left-10px{
    padding-left: 10px;
}

.padding-left-20px{
    padding-left: 20px;
}

.padding-left-30px{
    padding-left: 30px;
}

.padding-right-100px{
    padding-right: 100px;
}

.padding-top-5px{
    padding-top: 5px;
}

.padding-top-10px{
    padding-top: 10px;
}

.padding-top-15px{
    padding-top: 15px;
}

.padding-top-30px{
    padding-top: 30px;
}

.padding-top-150px{
    padding-top: 150px;
}

.padding-bottom-5px{
    padding-bottom: 5px;
}

.padding-bottom-10px{
    padding-bottom: 10px;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

.padding-bottom-50px{
    padding-bottom: 50px;
}

.padding-5-15-0-15px{
    padding: 5px 15px 0 15px;
}

.padding-0-15px{
    padding: 5px 15px;
}

.padding-0-40px{
    padding: 0 40px;
}

.padding-10px-0{
    padding: 10px 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.text-align-center{
    text-align: center;
}

.text-overflow-ellipsis{
    text-overflow: ellipsis;
}

.display-block{
    display: block;
}

.display-i-b{
    display: inline-block;
}

.visibility-hidden{
    visibility: hidden;
}

.max-width-{
    max-width: 1600px;
}

.width-100prc{
    width: 100%;
}

.width-50px{
    width: 50px;
}

.width-100px{
    width: 100px;
}

.width-150px{
    width: 150px;
}

.width-200px{
    width: 200px;
}

.width-220px{
    width: 220px;
}

.width-300px{
    width: 300px;
}

.width-400px{
    width: 400px;
}

.height-auto{
    height: auto;
}

.height-100prc{
    height: 100%;
}

.height-50px{
    height: 50px;
}

.height-60px{
    height: 60px;
}

.height-90px{
    height: 90px;
}

.height-100px{
    height: 100px;
}

.height-150px{
    height: 150px;
}

.height-200px{
    height: 200px;
}

.height-550px{
    height: 550px;
}

.max-height-600px{
    max-height: 600px;
}

.background-delete{
    background: red;
}

.background-red{
    background: #eb3161;
}

.background-green{
    background: #11b683;
}

.background-dark-grey{
    background: #3b3940;
}

.background-white{
    background: #ffffff;
}

.background-middle-grey{
    background: #dadada;
}

.background-blond-grey{
    background: #f3f6fd;
}

.color-red{
    color: #eb3161;
}

.color-green{
    color: #11b683;
}

.color-white{
    color: #ffffff;
}

.color-dark-grey{
    color: #3b3940;
}

.color-middel-grey{
    color: #838386;
}

.color-blond-grey{
    color: #f3f6fd;
}

.font-size-14px-Lato{
    font-size: 15px;
    font-family: "Lato";
    line-height: 1.6;
    font-weight: 300;
}

.font-size-20px{
    font-size: 20px;
}

.font-size-30px{
    font-size: 30px;
}

.font-size-50px{
    font-size: 50px;
}

.font-weight-bold{
    font-weight: bold;
}

.white-space-pre-wrap{
    white-space: pre-wrap;
}

.white-space-nowrap{
    white-space: nowrap;
}

.overflow-scroll-y{
    overflow-y: scroll;
}

.overflow-hidden{
    overflow: hidden;
}

.hide{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
}
